div.divD {
    margin: 10px;
    border-color: black;
    border-style: solid;
    float: left;
    color: beige;
    width: 100px;
    height: 100px;
    background-color: rgb(165, 42, 132);
}

div.divChanged {
    margin: 20px;
    border-color: black;
    border-style: solid;
    float: left;
    color: rgb(14, 14, 212);
    width: 100px;
    height: 100px;
    background-color: rgb(42, 165, 42);
}

div.survol {
    visibility: hidden;
}